body{
    background-color: rgb(238, 225, 255);
}

#container{
    width: 375px;
    height: 550px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: floralwhite;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cm #kg{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#guide p{
    margin-left: 6px;
    color: rgb(0, 41, 0);
}

#result{
    margin-left: 80px;
    margin-top: 20px;
    font-size: 28px;
    color: rgb(0, 0, 146);
    font-weight:bold;
}

#calculate{
    width: 100px;
    height: 25px;
    margin-left: 120px;
    margin-top: 3px;
    border: 2px solid rgb(0, 0, 129);
    background-color: rgb(144, 144, 255);
    border-radius: 5px;
}

#calculate:hover{
    color: rgb(94, 0, 16);
    background-color: rgb(255, 153, 170);
    border-color: rgb(153, 0, 26);
    cursor: pointer;
}

h1{
    text-align: center;
    color: rgb(151, 0, 0);
    margin-top: 5px;
}

h2{
    margin-top: 60px;
    text-align: center;
    color: rgb(151, 0, 0);
}
